body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
}

.file-upload {
  background-color: #f6f7fa;
  /*width: 600px;*/
  margin: 0 auto;
  padding: 13% 0;
    border-radius:10px;
    border : solid 1.5px #f6f7fa;
    
    
    
    
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
    padding : 2.1% 7.7%;
}

.navbar-light .navbar-brand{
    
    font-family:'Jua', sans-serif;
    line-height:1.68;
    text-align:left;
    color:#35465d;
    
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section{
    margin-top:100px;
}
.title{
    font-family:'Jua', sans-serif;
    line-height:1.67;
    text-align:center;
    color:#35465d;
}
.subtitle{
    font-family:'Jua', sans-serif;
    line-height:1.53;
    text-align:center;
    color:#35465d;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
    font-size: 2rem;
    }   
}

.youtube-link {
    font-family: 'Jua', sans-serif;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    font-size: 1.5rem;
    text-decoration: underline;
}

.youtube-link:hover {
    font-family: 'Jua', sans-serif;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    font-size: 1.5rem;
    text-decoration: underline;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #35465d;
    padding: 60px 0;
    font-size: 2rem;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 1.5px dashed #35465d;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    background-color: #ffffff;
}

.image-dropping, .image-upload-wrap:hover {
    background-color: #35465d;
    border: 1.54px dashed #ffffff;
}

.drag-text h3 {
    width:50%;
    margin:0 auto;
    font-weight: 100;
    text-transform: uppercase;
    color: #35465d;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    font-family: 'Jua', sans-serif;
}

.file-upload {
    background-color: #f6f7fa;
    /* width: 600px; */
    margin: 0 auto;
    
    /* height: 50vw; */
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
}

.knob {
    position: absolute;
    width: 41px;
    top: 0;
    left: 0;
    height: 41px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #f470a7 inset;
    background-color: #fbd4e6;
    transition: 0.3s;
}

/*.knob > i {
    position: absolute;
    width: 4px;
    height: 18px;
    top: 100%;
    background-color: #f470a7;
    left: calc(50% - 2px);
}

.knob > i:before, .knob > i:after {
    width: 6px;
    position: absolute;
    top: 42%;
    content: "";
    height: 4px;
    background-color: #f470a7;
}*/

input:checked + label > .knob {
    box-shadow: 0 0 0 8px #a1c6dd inset;
    background-color: #e2ecf4;
    transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
    background-color: #a1c6dd;
}

/*input:checked + label > .knob > i:after {
    top: 14.5px;
    width: 12px;
    left: -7px;
    transform: rotate(45deg);
}

input:checked + label > .knob > i:before {
    top: 13px;
    width: 12px;
    left: 0px;
    transform: rotate(134deg);
}*/

label {
    cursor: pointer;
    display: inline-block;
    width: 90px;
    height: 41px;
    box-shadow: 0 0 0 8px #e5e9ea inset;
    border-radius: 30px;
    position: relative;
}
/* .back {
    background-image: url("./image/background_male.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
      width: 70%;
      height: 50%;
} */
.image-dropping, .image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.try-again-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
}
.try-again-btn {
    border-radius: 40px;
    border: solid 1.5px #35465d;
    background-color: #35465d;
}
.h1, h1 {
    font-size: 3rem;
}
.youtube-link:hover {
    font-family: 'Jua', sans-serif;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    font-size: 1rem;
    text-decoration: underline;
}
.youtube-link {
    font-family: 'Jua', sans-serif;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    font-size: 1rem;
    text-decoration: underline;
}






.type-name{
    color: #75D701;
    font-size: 2rem;
}
.type-explain{
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
}
.type-celeb{
    font-size:1.35rem;
    color: #A593E0;
    width:78%;
    margin: 0 auto;
}


.ad-baner{
    width:320px;
    margin:0 auto;
}

.ad-baner2{
    width:250px;
    margin:0 auto;
}
.ad-banner3{
    width:380px;
    margin:0 auto;
}
.ad-baner4{
    margin:0 auto;
    width:300px;
}
.ad-explain {
    margin-top: 0;
    margin-bottom: 0rem;
    text-align: center;
    color: #ff0000;
}